{% extends 'admin/layout.twig' %}


{% block title %}
    {{ t.trans('Collections') }}
{% endblock %}

{% block endOfHead %}
<script id="serverJson" type="application/json">
    {{ arr|json_encode()|raw }}
</script>
{% endblock %}

{% block main %}


    <div
        class="w3-container w3-padding-large" id="app">

        {# 使用v-show = "modalIsShown" 时， 当使 currentCollection 变化后，子组件里collection-modal绑定的值不会变， 而 v-if ="modalIsShown" 写法，currentCollection变化后， 子组件collection-modal的props会变，
                我明白 v-show 是，但是改变currentCollection, 子组件的数据不改变就很奇怪。
                 #}
        <collection-modal v-bind="currentCollection" @submit-collection="log" @close-modal="hideCollectionModal" v-show="true" v-if="modalIsShown"></collection-modal>


        <div class="w3-responsive collection-list" attr="{{ arr | json_encode | e('html_attr') }}">

            <create-collection-item label="创建新文集" @create-collection="showCollectionModal()"></create-collection-item>

            {# 传入一个对象的所有 property,https://v3.cn.vuejs.org/guide/component-props.html#%E4%BC%A0%E5%85%A5%E4%B8%80%E4%B8%AA%E5%AF%B9%E8%B1%A1 #}

            <collection-item v-for="collection in collections" v-bind="collection" @edit-collection="showCollectionModal(collection)"></collection-item>

        </div>
        <!-- .w3-responsive-->

        <div class=" w3-center w3-margin-top">
            {% include 'pagination-w3css.twig' with {data: postsCurrentPage} only %}
        </div>

    </div>
    <!-- .hi-posts-list-->

{% endblock %}

{% block endOfBody %}
    <script src="{{ static_url() }}/js/node_modules/axios/dist/axios.min.js?ver=0.21.1"></script>
    {# <script src="{{ static_url() }}/js/vue3/vue.global.prod.js?ver=3.0.2"></script> #}
    <script src="{{ static_url() }}/js/vue3/vue@3.0.2.js?ver=3.0.2"></script>
    <script src="{{ static_url() }}/js/vue3/collection-admin.js?ver={{ git_latest().dateVer }}"></script>
{% endblock %}
