{% extends 'layout.twig' %}

{% block meta %}
{% set description = post.post_content|striptags|truncate(140, true, '...') %}
<meta name="description" content="{{description}}" />
{% endblock %}

{% block title %}
	{{post.post_content|striptags|truncate(30, false,"...\n")|raw }}
{% endblock %}

{% block bodyClass %}tweet-content-body{% endblock %}

{% block content %}
	
	<main class="hi-main w3-mobile">
		

		<div class="w3-padding-24  hi-content hi-tweet-content-wrap">
			{% set tweetInfo = post.getPostMeta('tweet_info') %}
			{% include "post-type/" ~ post.post_type ~".twig" with {tweetInfo:tweetInfo}%}
						

			<div class="hi-content-tail tweet-likes-list-wrap">
				{% set tweetLikes = post.getPostMeta('tweet_likes') %}
				{# {{dump(tweetLikes) }} #}
				<h4><i class="fa fa-thumbs-o-up"></i> {{tweetLikes|length}}</h4>
				<dl class="tweet-likes-list">
					{% for like in tweetLikes%}
						<dt>
							<div class="portrait" title="{{like.author.name}}"><img alt="{{like.author.name}}" src="{{like.author.portrait | imgMap}}" ></div>
						</dt>
					{% endfor %}
				</dl>
			</div>
		</div>

		{% set tweetComments = post.getPostMeta('tweet_comments') %}
		{% if tweetComments %}
		<h4 class="w3-code hi-lead-title"><i class="fa fa-comments-o"></i> {{t.trans('Comments')}} ( {{ tweetComments|length }} )</h4>
		<ul class="hi-comments hi-tweet-comments">
				
				{# {{dump(tweetComments)}} #}
				{% for comment in tweetComments %}
				{# {{dump(comment)}} #}
				<li class="">
					<div class="portrait"><img src="{{comment.author.portrait | imgMap(200,200)}}" ></div>
					<div class="comment-head">
						<div class="comment-author">
							
							{% if comment.author.id == tweetInfo.author.id %}
							<a class="tweet-author" href="{{ c.router.pathFor('user',{'username':get_username_by_id(post.post_author)}) }}">{{tweetInfo.author.name }}</a>
							<span class="w3-text-orange w3-small"><i class="fa fa-bold fa-check-square "></i> {{t.trans('Tweet author')}}</span>
							{% else %}
							{{comment.author.name}}
							{% endif %}
						</div>						
						<div class="comment-pubdate">{{ comment.pubDate|time_diff }}</div>						
						<div class="comment-content">{{comment.content}}</div>
					</div>
					<span class="w3-small hi-text-grey comment-footer comment-vote-count">
						<i class="fa fa-bold fa-heart-o"></i>
						{{ comment.voteCount }}
					</span>
					
				</li>
				{% endfor %}
		</ul>
		{% else %}
			<h4 class="w3-code hi-lead-title hi-no-comment"><i class="fa fa-comments-o"></i> {{ t.trans('No Comment') }}</h4>
		{% endif %}
		
		
	</main>


{% endblock %}
