{% extends 'layout.twig' %}

{% block title %}
	{{ post.post_title }}
{% endblock %}
{% block dayNightClass%}{% endblock %}
{% block bodyClass %} hi-author-bg hi-author-bg-{{post.post_author}}{% endblock %}

{% block content %}
	
	<!-- Header -->
	<header class=" w3-margin-bottom w3-center w3-content hi-header">
		<h1 class="w3-xlarge hi-title">{{ post.post_title }} 
		</h1>
		<div class="w3-center">

			
			<dt class="hi-text-grey">

				<i class="fa fa-calendar-check-o "></i>
				{# {{  (post.post_status == 'draft') ? t.trans('Draft') : post.post_date_local }} #}
				{{post.post_preview ? t.trans('Previewing') : ''}}	

				{% if post.post_status == 'publish' %}
				{{ post.post_date_local }}
				{% elseif post.post_status == 'future'%}
				{{post.post_date_local}} <code class="w3-text-red">{{t.trans('Future status')}}</code>
				{% elseif post.post_status == 'draft' %}		
					<code class="w3-text-blue">{{ t.trans('Draft status')}}</code>
				{% endif %}
			
			
				<a class="hi-text-lighter-blue hi-dot" target="_blank" href="{{ 
					c.router.pathFor('user',{'username':get_username_by_id(post.post_author)}) }}">
					{{post.post_author_name}}</a>

				

				{% if user_id == post.post_author and not post.post_preview %}	
					<a class="hi-dot hi-text-lighter-blue" style="" href="{{ c.router.pathFor('post-admin.edit',{'name':post.post_name}) }}">{{t.trans('Edit')}}</a>
				{% endif %}

				{% if post.post_visibility == 'private' or post.post_visibility == 'password' %}
				<code>{{ t.trans(post.post_visibility) }} 🔒</code>
				{% endif %}	

			</dt>
			
			
		</div>
	</header>


	<main class="hi-main hi-content-wrap w3-mobile">
		

		<div class="w3-content hi-content ">
			{{post.post_content_clean|raw}}


			<div class="hi-content-tail">

			{% set syncOptions = post.getSyncOptions() %}	
			
			{% if  syncOptions.type == '0' and syncOptions.origin_url != 'https://' %}
			<blockquote class="hi-origin-info">
				<em>{{t.trans('Original Link')}}：
				<a href="{{ syncOptions.origin_url }}" rel="noreferrer" target="_blank">
				{{ syncOptions.origin_url }}
				</a>
				</em>
			</blockquote>

			{% endif %}

			{% if not post.post_preview and post.osc_link %}
				{% if (not syncOptions.privacy) or (syncOptions.privacy == '1' and  user_id == post.post_author) %}
				<div class="w3-clear">
				<a class="hi-view-in-osc-link  w3-margin-top  w3-padding-small w3-button-small w3-border w3-border-blue w3-hover-blue w3-round" href="{{ post.osc_link }}" target="_blank" rel="noreferrer">				
				<i class="fa fa-paper-plane-o"></i>
					{{t.trans('View in OSC')}} 
				</a>
				</div>
				{% endif %}			

			{% endif %}
			</div>
		</div>

		
		
	</main>


{% endblock %}
