{% extends 'layout.twig' %}

{% block title %}
	{{post.post_content|striptags|truncate(30, false,"...\n")|raw }}
{% endblock %}

{% block bodyClass %}tweet-content-body{% endblock %}

{% block content %}
	
	<main class="hi-main w3-mobile">
		

		<div class="w3-card-2 w3-padding-large  hi-content hi-tweet-content-wrap">
			
			{% include "post-type/" ~ post.post_type ~".twig" %}
						

			<div class="hi-content-tail w3-margin-top tweet-likes-list-wrap">
				{% set tweetLikes = post.getPostMeta('tweet_likes') %}
				{# {{dump(tweetLikes) }} #}
				<h4><i class="fa fa-thumbs-o-up"></i> {{tweetLikes|length}}</h4>
				<dl class="tweet-likes-list">
					{% for like in tweetLikes%}
						<dt>
							<a class="portrait" title="{{like.author.name}}"><img alt="{{like.author.name}}" src="{{like.author.portrait}}" ></a>
						</dt>
					{% endfor %}
				</dl>
			</div>
		</div>

		{% set tweetComments = post.getPostMeta('tweet_comments') %}
		{% if tweetComments %}
		<h4 class="w3-code"><i class="fa fa-comments-o"></i> {{t.trans('Comments')}} ( {{ tweetComments|length }} )</h4>
		<ul class="hi-comments hi-tweet-comments">
				
				{# {{dump(tweetComments)}} #}
				{% for comment in tweetComments %}
				{# {{dump(comment)}} #}
				<li class="w3-card-2">
					<div class="portrait"><img src="{{comment.author.portrait}}" ></div>
					<div class="comment-head">
						<div class="comment-author">{{comment.author.name}}</div>						
						<div class="comment-pubdate">{{ comment.pubDate|time_diff }}</div>						
						<div class="comment-content">{{comment.content}}</div>
					</div>
					<strong class="w3-small hi-text-grey comment-footer comment-vote-count">
						<i class="fa fa-bold fa-heart-o"></i>
						{{ comment.voteCount }}
					</strong>
					
				</li>
				{% endfor %}
		</ul>
		{% else %}
			<h4 class="w3-code no-comment"><i class="fa fa-comments-o"></i> {{ t.trans('No Comment') }}</h4>
		{% endif %}
		
		
	</main>


{% endblock %}
