{% extends 'layout.twig' %}

{% block title %}
    {{ spaceUser.username }}{{ t.trans("’ Space") }}
{% endblock %}

{% block bodyClass %}
    user-body
{% endblock %}

{% block content %}
    <!-- Header -->
    <header class="w3-panel w3-center w3-opacity hi-text-dark" style="">

        <h2 class="w3-margin-top-32">{{ spaceUser.username }}{{ t.trans("’ Space") }}</h2>

        <div class="w3-padding-32">
            <div class="w3-bar w3-border">

                <a href="{{ c.router.pathFor('user',{'uid':spaceUser.id}) }}" class="w3-bar-item w3-button {% if currentPostType is null %}w3-light-grey{% endif %}">{{ t.trans('Homepage') }}</a>

                {% for pt in allowPostTypes %}
                    <a href="{{ c.router.pathFor('user.postType',{'uid':spaceUser.id,'postType':pt}) }}" class="w3-bar-item w3-button {% if currentPostType is sameas(pt) %}w3-light-grey{% endif %} ">{{ t.trans(pt|capitalize) }}</a>
                {% endfor %}

            </div>
        </div>
    </header>


    <main class="hi-main post-list">
        {% if posts.count() %}
            {% include 'post-list.twig' with {posts: posts,c:c,t:t} only %}
        {% else %}
            {% include 'post-list-none.twig' %}
        {% endif %}
    </main>
{% endblock %}
