<div id="{{ wrapper_id|default('bind-osc-form-wrapper') }}" class="bind-osc-form-wrapper {{ wrapper_class|default('w3-modal') }}">
    <div class="w3-modal-content w3-card-4 w3-animate-top" style="max-width:600px">

        <div class="w3-center w3-padding-large hi-oscer-info"><br>
            <i class="fa fa-spinner fa-spin animated  w3-large w3-padding-small w3-display-topleft w3-hide"></i> 
            <span class="w3-button w3-xlarge w3-hover-red w3-display-topright hi-close-btn" title="Close Modal">&times;</span>
            {% if oscer is not defined %}
            <img src="{{ avatar|default('https://www.w3schools.com/w3images/avatar1.png') }}" alt="Avatar" style="width:30%" class="w3-circle w3-margin-top">
            <a class="w3-block w3-hide  hi-oscer-homepage" href="javascript:;" target="_blank" title="title-homepage"></a>
            <div class="w3-container w3-margin-top w3-hide w3-small w3-text-grey hi-oscer-signature"></div>
            {% else %}
                <img src="{{ oscer.avatar }}" alt="Avatar" style="width:30%" class="w3-circle w3-margin-top">
                <a class="w3-block  hi-oscer-homepage" href="{{ oscer.homepage }}" target="_blank" title="{{ oscer.userName }}">{{ oscer.userName }}</a>
                <div class="w3-container w3-margin-top  w3-small w3-text-grey hi-oscer-signature">
                    {{ oscer.signature }}
                </div>

            {% endif %}
        </div>

        {% if oscer is not defined %}
        <form class="w3-container hi-bind-osc-form" action="{{ c.router.pathFor('bind-oscer.post') }}" method="post"
              autocomplete="off">
            <div class="w3-section">
                <label><b>手机/邮箱</b></label>
                <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="手机/邮箱" name="userMail" required>
                <label><b>密码</b></label>
                <input class="w3-input w3-border" type="password" placeholder="请输入密码" name="userPassword" required>
                <button class="w3-button w3-block w3-green w3-section w3-padding hi-submit-btn w3-center" type="submit">
                连接
                </button>
                {#<input class="w3-check w3-margin-top" type="checkbox" checked="checked"> Remember me#}
            </div>
            {{ csrf_inputs() }}
        </form>
        {% endif %}

        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey hi-oscer-footer">
            {% if oscer is not defined %}
            <button type="button" class="w3-button w3-red hi-cancel-btn">取消</button>            
            <span class="w3-right w3-padding  w3-small  hi-oscer-msg">请输入你在 oschina 的登录信息，仅用于发布文章或动弹到osc</span>
            {% else %}
                <button type="button" class="w3-button w3-green hi-cancel-btn">连接成功</button>
                <span class="w3-right w3-padding  w3-small hi-oscer-msg">现在可以同步文章或动弹到osc了 </span>
            {% endif %}
        </div>

    </div>
</div><!-- #bind-osc-form-wrapper -->