{% set c = container %}
{% set currentPath = container.request.getUri.getPath|replace({'/hi-admin/': ''}) %}
<!DOCTYPE html>
<html>
<title>{% block title %}Dashbard{% endblock %} - Hi Admin</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="{{ static_url() }}/images/cropped-BlackFire-32x32.png" sizes="32x32" />
{#<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">#}
<link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ static_url() }}/css/w3.css">
<link rel="stylesheet" href="{{ static_url() }}/css/admin.css?ver={{ git_latest().dateVer }}">


<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
    <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();">☰
    </button>
    <a class="w3-button w3-bar-item w3-left" href="{{ base_url() }}/dashboard"><i class="fa fa-home"> Hi 管理后台</i></a>
    <a class="w3-button w3-bar-item w3-right" href="{{ base_url() }}">返回首页</a>
    <a class="w3-button w3-bar-item w3-right" href="{{ base_url() }}/logout">退出</a>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white " style="z-index:3;width:300px;" id="mySidebar"><br>
    <div class="w3-container w3-row">
        <div class="w3-col s4">
            <img src="{{ avatar|default('https://www.w3schools.com/w3images/avatar1.png') }}"
                 class="w3-circle w3-margin-right" style="width:46px">
        </div>
        <div class="w3-col s8 w3-bar">
            <span>欢迎回来, <strong>{{ c.session.user.username }}</strong></span><br>
            {#<a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>#}
            <a href="#" class="w3-bar-item w3-button w3-tiny hi-user-info" style="margin-left:-16px;"><i class="fa fa-user"></i> <span>个人信息</span></a>
            {#<a href="#" class="w3-bar-item w3-button w3-tiny w3-text-green"><i class="fa fa-cog "></i> 连接OSC</a>#}
            <button onclick="document.getElementById('bind-osc-form-wrapper').style.display='block'"
                    class="w3-bar-item w3-button w3-tiny {{ oscer ?'w3-text-green':'w3-text-red' }} hi-osc-status">

                <i class="fa fa-cog "></i> <span>{{ oscer ?'已连接osc':'未连接osc' }}</span>
            </button>

        </div>

        {% include 'oscer/bind-osc-form.twig' with {'wrapper_id': 'bind-osc-form-wrapper'} %}
        {% if c.session.user.group_id < 3 %}
        <div class="w3-col s12 w3-tiny w3-text-grey w3-opacity w3-right"><b>系统构建时间:</b> {{ git_latest().dateString  }}</div>
        {% endif %}

    </div>
    
    <hr>
    <div class="w3-container">
        <h5>Dashboard</h5>
        
    </div>

    <div id="hi-admin-menu" class="w3-bar-block">
        <a href="javascript:;" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black"
           onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>&nbsp; Close Menu</a>


        {% block menu %}
            
            {% for item in menu.getUserItems %}

                {% if item.items is not defined %}
                    <a href="/hi-admin/{{ c.router.pathFor(item.route) }}"
                       class="w3-bar-item w3-button w3-padding {% if item.current %}w3-blue{% endif %}">
                        {% if item.icon is not defined %}
                            <i class="fa fa-cog fa-fw"></i>
                        {% else %}
                            <i class="{{ item.icon }}"></i>
                        {% endif %}
                        &nbsp; {{ item.label }}
                    </a>
                {% else %}

                    <div class="{% if not item.current %}w3-dropdown-hover{% endif %}">
                        <a class="w3-bar-item w3-button hi-sub-header {% if item.current %}w3-blue{% endif %}" href="javascript:void(0)">
                            {% if item.icon is not defined %}
                                <i class="fa fa-cog fa-fw"></i>
                            {% else %}
                                <i class="{{ item.icon }}"></i>
                            {% endif %}
                            &nbsp; {{ item.label }}
                        </a>
                        <div class="w3-small {% if not item.current %}w3-dropdown-content{% endif %} w3-card-2  hi-dropdown-content">
                            {% for sub in item.items %}
                                
                                <a class="w3-bar-item w3-button hi-sub-item {% if sub.current %}w3-text-blue  hi-current{% endif %}"                                 
                                href="{{ c.router.pathFor(sub.route) }}">                                    
                                    {{ sub.label }}
                                </a>
                                
                            {% endfor %}
                        </div>
                    </div>

                {% endif %}

            {% endfor %}

        {% endblock %}
         
        <div id="hi-footer-wrapper" role="contentinfo">
        
            <footer class="w3-container w3-padding-16">
                <strong><p class="w3-text-grey"><a class="w3-small w3-hover-opacity w3-padding-small w3-border-aqua" href="{{ c.router.pathFor('homepage') }}" target="_blank"><i class="fa fa-heart"></i> Powered by Hi-CMS &copy; 2019</a></p></strong>
                
            </footer>        
        </div><!-- #hi-footer-wrapper-->
        
    </div><!-- #hi-admin-menu -->
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
     title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main hi-main-content" style="margin-left:300px;margin-top:43px;height: auto;
    min-height: 100%;    
    position: relative;">

    {% if flash %}
        <div class="hi-flash-container">
        {% for msg in flash %}
            <div class="w3-margin w3-panel {{ msg|flash_fmt('class') }} w3-display-container">
              <span onclick="this.parentElement.style.display='none'"
                    class="w3-button w3-display-topright w3-text-red"
                    style="top: 8px;right: 8px;">x</span>
                <div class="w3-panel ">
                    {{ msg|flash_fmt('msg') }}
                </div>
            </div>
        {% else %}
            {#非数组#}
            <div class="w3-margin w3-panel {{ flash|flash_fmt('class') }} w3-display-container">
                <span onclick="this.parentElement.style.display='none'"
                      class="w3-button w3-display-topright w3-text-red"
                      style="top: 8px;right: 8px;">x</span>
                <div class="w3-panel">
                    {{ flash|flash_fmt('msg')  }}
                </div>

            </div>
        {% endfor %}

    </div>
    {% endif %}

    {% block main %}
    &nbsp;
    {% endblock %}    
       
</div>
    <!-- End page content -->
</div>


<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="{{ static_url() }}/js/vendors/sha1.min.js"></script>
<script src='{{ static_url() }}/js/node_modules/tinymce/tinymce.min.js'></script>
<script src='{{ static_url() }}/js/admin.js?ver={{ git_latest().dateVer }}'></script>


</body>
</html>