{% extends 'admin/layout.twig' %}

{% block main %}
    {% if postStatuses.any.count == 0 %}
        <div class="w3-panel w3-red">
        <p> 暂无文章，<a class="w3-btn-large" href="{{ c.router.pathFor('post-admin.new')}}">去写文章</a>
        </p>        
        </div>
    {% else %}
    <div class="w3-container w3-padding-large hi-posts-list">

        <h2>文章列表</h2>
        <div class="w3-margin-bottom">
            <div class="w3-bar w3-white w3-small">
                {% for status in postStatuses %}
                  <a href="{{ status.url }}" class="w3-bar-item w3-button {{ status.current ? 'w3-green' : '' }}">{{ status.name }} ({{status.count}})</a>
                {% endfor %}
{#             
                <a href="{{ postStatus.publish.url }}" class="w3-bar-item w3-button {{ postStatus.publish.current ? 'w3-light-blue' : '' }}">已发布 ({{postStatus.publish.count}})</a>
                <a href="{{ postStatus.future.url }}" class="w3-bar-item w3-button {{ postStatus.future.current ? 'w3-light-blue' : '' }}">定时 ({{postStatus.future.count}})</a>
                <a href="{{ postStatus.draft.url }}" class="w3-bar-item w3-button {{ postStatus.draft.current ? 'w3-light-blue' : '' }}">草稿 ({{postStatus.draft.count}})</a>
                <a href="{{ postStatus.trash.url }}" class="w3-bar-item w3-button {{ postStatus.trash.current ? 'w3-light-blue' : '' }}">回收站 ({{postStatus.trash.count}})</a>
                <a href="{{ postStatus.any.url }}" class="w3-bar-item w3-button {{ postStatus.any.current ? 'w3-light-blue' : '' }}">全部 ({{postStatus.any.count}})</a> #}

                <div class="w3-bar-item w3-right" style="padding:0;">
                    <input type="text" class="w3-bar-item w3-input" placeholder="Search..">
                    <a href="#" class="w3-bar-item w3-button w3-green">Go</a>
                </div>
            </div>
        </div>

        <div class="w3-responsive">
            <table class="w3-table-all w3-hoverable">
            <tr class="w3-blue">
            <th>ID</th>
            <th style="width:25%">标题</th>
            <th class="w3-center">编辑</th>
            <th>作者ID</th>
            <th>发布时间</th>
            <th>最后修改</th>
            <th>文章状态</th>
            <th style="width:15%">OSC同步</th>
            </tr>
            {% for post in postsCurrentPage %}
            <tr>
            <td>{{ post.post_id }}</td><!--ID-->
            <td>{{ post.post_title }}</td><!--标题-->            
            <td class="w3-center">
            <a href="{{ c.router.pathFor('post-admin.edit',{'name':post.post_name}) }}">
            编辑</a>
            </td><!--编辑-->
            <td>{{ post.post_author_name }}</td><!--作者-->
            <td>{{ post.post_date_local }}</td><!-- 发布时间-->
            <td>{{ post.post_modified  }}</td><!-- 修改时间 -->
            <td>{{ post.post_status  }}</td><!-- 文章状态 -->
            <td>
                {% if post.getSyncStatus().meta_value %}
                {% set oscSyncResult=post.getSyncStatus().meta_value.result %}
                {{ post.getSyncStatus().meta_value.message }}
                <a target="_blank" href="https://my.oschina.net/u/{{oscSyncResult.space}}/blog/{{oscSyncResult.id}}">
                查看
                </a>
                {% else %}
                    <span class="w3-text-yellow">暂未发布</span>
                {% endif %}
            </td><!-- OSC同步 -->

            {% endfor %}
            </tr>

            </table>

        </div><!-- .w3-responsive-->
        
        <div class=" w3-center w3-margin-top">
			{% include 'pagination-w3css.twig' with {data: postsCurrentPage} only%}
		</div>

    </div><!-- .hi-posts-list-->
    {% endif %}
{% endblock %}