{% extends 'admin/layout.twig' %}

{% block main %}
<form class="w3-row-padding hi-post-form" method="post" action="{{ c.router.pathFor('post-admin.save') }}">
    {{ csrf_inputs() }}
    <div class="w3-col s9 w3-mobile" id="hi-editor-wrapper">

            {% if post %}
                <input type="hidden" name="post_id" value="{{ post.post_id }}" />
            {% endif %}
            <div class="w3-section">
            <input class="w3-input w3-border" type="text" name="post_title" value="{{ post.post_title }}" placeholder="请输入标题" />
            </div>

            <div class="w3-section">
            <textarea id="hi-editor" name="post_content" >{{ post.post_content }}</textarea>
            </div>


    </div><!-- #hi-editor-wrapper-->

    
    
    <div class="w3-col s3 w3-mobile w3-tiny" id="hi-metabox-wrapper">

        {% if post.post_id %}
        <div class="w3-card-2 w3-section hi-metabox hi-links-metabox">
            <div class="w3-container w3-white w3-border-bottom w3-border-gray">
                <h6>文章链接</h6>
            </div>
            <div class="w3-container">
                
                    <div class="w3-section w3-row">
                        <div class="w3-col s6 ">
                        
                        <a class="w3-grey w3-button w3-hover-blue w3-tiny w3-padding-small" target="_blank" href="{{ c.router.pathFor('post',{'name':post.post_name}) }}">在本站查看</a>
                        </div>
                        {% if post.osc_link%}
                        <div class="w3-col s6">
                        <a class="w3-grey  w3-button w3-hover-green w3-right w3-tiny w3-padding-small" target="_blank" href="{{post.osc_link}}">在osc查看</a>
                        </div> 
                        {% endif %}                                             
                    </div>

                

            </div><!-- .w3-container-->

        </div><!-- .hi-links-metabox-->
        {% endif %}


        {% if oscer %}
        <div class="w3-card-2 w3-section hi-metabox hi-osc-sync-metabox">
            <div class="w3-container w3-white w3-border-bottom w3-border-gray">
                <h6>OSC同步</h6>
            </div>
            
            <div class="w3-container ">
                <div class="w3-section">
                    <label class="w3-label w3-text-grey">文章分类</label>
                    <select name="sync[osc][catalog]" class="w3-select w3-border w3-padding-small"> 
                    {# 
                    {% autoescape false %}                                       
                    {{ oscOptions.catalogDropdown }}
                    {% endautoescape %} #}


                    {% for option in oscOptions.catalogDropdowns %}
                        <option value="{{ option.value }}" 
                        {% if storeOptions.catalog == option.value %} selected {% endif %}>{{ option.text }}</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="w3-section">
                    <label class="w3-label w3-text-grey">系统分类</label>
                    <select name="sync[osc][classification]" class="w3-select w3-border w3-padding-small">                    
                    {# {% autoescape false %}                    
                    {{ oscOptions.classification }}
                    {% endautoescape %} #}
                    {% for option in oscOptions.classifications %}
                        <option value="{{ option.value }}" 
                        {% if storeOptions.classification == option.value %} selected {% endif %} >{{ option.text }}</option>
                    {% endfor %}
                    </select>
                </div>

                <div class="w3-section">
                    
                        <div class="w3-main hi-osc-sync-type {{ storeOptions.type == 0 ? 'active' : '' }}">
                        
                            <input type="radio" name="sync[osc][type]" id="sync-osc-type-0" value="1" class="w3-check" {% if storeOptions.type == 1 %} checked="checked" {% endif %} tabindex="0">
                            <label for="sync-osc-type-0">原创</label>

                            <input type="radio" name="sync[osc][type]" id="sync-osc-type-1" {% if storeOptions.type == 0 %} checked="checked" {% endif %} value="0" class="w3-check hi-accordion" tabindex="0">
                            <label for="sync-osc-type-1" class="w3-label">转载</label>
                            <br/>
                            <div class="hi-detail-panel" style="padding:0">
                                <input name="sync[osc][origin_url]" class="w3-input w3-border w3-section w3-small"  type="text" placeholder="请输入原文链接" 
                                value="{{ storeOptions.origin_url }}">
                            </div>
                        </div>
                        

                        <div class="w3-main">

                        <input  type="checkbox" name="sync[osc][as_top]" id="sync-osc-as_top" value="1" class="w3-check" tabindex="0" {% if storeOptions.as_top == 1 %} checked="checked" {% endif %}>
                        <label for="sync-osc-as_top">置顶</label>
                        <br/>
                                                                        
                        <input type="checkbox" name="sync[osc][privacy]" id="sync-osc-privacy" value="1" {% if storeOptions.privacy == 1 %} checked="checked" {% endif %} class="w3-check" tabindex="0">
                        <label for="sync-osc-privacy">仅自己可见</label>
                        <br/>
                        
                        <input type="checkbox" name="sync[osc][deny_comment]" id="sync-osc-deny_comment" value="1" class="w3-check" tabindex="0"  {% if storeOptions.deny_comment == 1 %} checked="checked" {% endif %}>
                        <label for="sync-osc-deny_comment">禁止评论</label>
                        <br/>
                                                                        
                        <input type="checkbox" name="sync[osc][downloadImg]" id="sync-osc-downloadImg" value="1" class="w3-check" tabindex="0"  {% if storeOptions.downloadImg == 1 %} checked="checked" {% endif %}>
                        <label for="sync-osc-downloadImg">下载外站图片到本地</label>
                        </div>
                    
                </div>

            </div>

            <div class="w3-container w3-gray w3-padding-large">                                    
                    <div class="w3-text-grey">
                        <input type="checkbox" name="sync[osc][save_as_default]" value="1" class="w3-check" tabindex="0">
                        <label for="sync[osc][save_as_default]">保存为默认同步选项</label>
                    </div>                              
            </div>
        </div> <!-- .hi-osc-sync-metabox-->
        {% endif %}

    <div class="w3-card-2 w3-section hi-metabox hi-save-metabox">
        <div class="w3-container w3-white w3-border-bottom w3-border-gray">
            <h6>发布</h6>
        </div>
        <div class="w3-container">
            <div class="hi-wrapper">
            <div class="w3-section  w3-small w3-row">
                <div class="w3-col s4">
                <button class="w3-btn w3-border w3-white w3-padding-small w3-hover-green" type="submit" name="post_status" value="draft">保存草稿</button>
                </div>
                <div class="w3-col s4">
                <button class="w3-btn w3-border w3-white w3-padding-small w3-hover-red" type="submit" name="post_status" value="trash">删除文章</button>
                </div>
                
                <div class="w3-col s4">
                <a class="w3-btn w3-border w3-white w3-padding-small w3-right hi-preview-link"  href="javascript:;" target="_blank">预览</a>
                </div>
            </div>

            
            {# <div class="w3-section  w3-small">
                <label>状态：</label>
                
                <span id="hi-post-status-select " class="" >
                    <input type="hidden" name="hidden_post_status" id="hidden_post_status" value="draft">                    
                    <select name="post_status" id="post_status" data-old-val="draft">
                    <option value="pending">等待复审</option>
                    <option selected="selected" value="draft">草稿</option>
                    </select>                    
                </span>
            </div>
         #}

            <div class="w3-section  w3-small hi-post-visibility">
                <label>本站公开度：</label>
                
                {% set postVisible = (is_null(post.post_visibility) or post.post_visibility =='') ? 'public' :post.post_visibility  %}    
                
                <span id="hi-post-visibility-select " class="hi-post-visibility" >

                <input type="radio" name="post_visibility" id="visibility-radio-public" value="public" {{ checked('public',postVisible) }}> 
                <label for="visibility-radio-public" class="selectit">公开</label>    

                {# <span id="sticky-span"><input id="sticky" name="sticky" type="checkbox" value="sticky"> <label for="sticky" class="selectit">将文章置于首页顶端</label><br></span>
                <input type="radio" name="visibility" id="visibility-radio-password" value="password"> <label for="visibility-radio-password" class="selectit">密码保护</label><br>
                <span id="password-span" style="display: none;"><label for="post_password">密码：</label> <input type="text" name="post_password" id="post_password" value="" maxlength="255"><br></span> #}
                <input type="radio" name="post_visibility" id="visibility-radio-private" value="private" {{ checked('private',postVisible) }}> <label for="visibility-radio-private" class="selectit">私密</label>

                <input type="radio" name="post_visibility" id="visibility-radio-password" value="text" class="hi-accordion" {{ checked('password',postVisible) }}> <label for="visibility-radio-password" class="selectit">密码保护</label>
                
                <div id="hi-password-panel" class="hi-detail-panel" style="padding:0">                
                    <input class="w3-input w3-border w3-section w3-small" name="post_password" type="password" placeholder="请输入密码">                            
                </div>
                </span>
                
            </div>
            </div>


            <div class="w3-section w3-small hi-post-future {{ post.post_status == 'future' ? 'active': '' }}">
                <span id="timestamp">发布时间：</span>
                
                <input type="radio" name="post_future" id="post_future-radio-no" value="no" {% if post.post_status != 'future' %}checked="checked"{% endif %}> <label for="post_future-radio-no" class="selectit">立即发布</label>

                <input type="radio" name="post_future" id="post_future-radio-yes" value="yes" {% if post.post_status == 'future' %}checked="checked"{% endif %} class="hi-accordion"> <label for="post_future-radio-yes" class="selectit">定时发布</label>


                <div id="timestampdiv" class="w3-section hi-detail-panel " >
                    <div class="time-wrap">
                        <label>
                            <input type="text" id="y" name="y" value="{{ publishDate.y }}" size="4" maxlength="4" autocomplete="off">
                            <span class=""> 年 </span>
                        </label>

                        <label>
                            <select id="m" name="m">
                                <option value="01" {% if publishDate.m == '01' %}selected="selected" {% endif %} data-text="一月">一</option>
                                <option value="02" {% if publishDate.m == '02' %}selected="selected" {% endif %} data-text="二月">二</option>
                                <option value="03" {% if publishDate.m == '03' %}selected="selected" {% endif %} data-text="三月">三</option>
                                <option value="04" {% if publishDate.m == '04' %}selected="selected" {% endif %} data-text="四月">四</option>
                                <option value="05" {% if publishDate.m == '05' %}selected="selected" {% endif %} data-text="五月">五</option>
                                <option value="06" {% if publishDate.m == '06' %}selected="selected" {% endif %} data-text="六月">六</option>
                                <option value="07" {% if publishDate.m == '07' %}selected="selected" {% endif %} data-text="七月">七</option>
                                <option value="08" {% if publishDate.m == '08' %}selected="selected" {% endif %} data-text="八月">八</option>
                                <option value="09" {% if publishDate.m == '09' %}selected="selected" {% endif %} data-text="九月">九</option>
                                <option value="10" {% if publishDate.m == '10' %}selected="selected" {% endif %} data-text="十月">十</option>
                                <option value="11" {% if publishDate.m == '11' %}selected="selected" {% endif %} data-text="十一月" >十一</option>
                                <option value="12" {% if publishDate.m == '12' %}selected="selected" {% endif %} data-text="十二月">十二</option>
                            </select>
                            <span class=""> 月 </span>
                        </label>
                        <label>
                            <input type="text" id="d" name="d" value="{{ publishDate.d }}" size="2" maxlength="2" autocomplete="off">
                            <span class=""> 日 </span>
                        </label>
                        <div class="w3-margin-top">
                        <label>
                            <input type="text" id="h" name="h" value="{{ publishDate.h }}" size="2" maxlength="2" autocomplete="off"><span class=""> 时 </span>
                        </label>
                        <label><input type="text" id="i" name="i" value="{{ publishDate.i }}" size="2" maxlength="2" autocomplete="off">
                            <span class=""> 分 </span>
                        </label>
                        </div>
                    </div>
                </div>
            </div>
                    
                        
        </div>

        <div class="w3-container w3-grey w3-padding-large w3-row">                
                <div class="w3-opacity w3-col s7">
                    &nbsp;
                </div>
                <div class="w3-col s5">
                    <i class="fa fa-spinner fa-spin animated  w3-large w3-padding-small w3-hide"></i>

                    <button class="w3-text-black w3-btn  w3-padding-small w3-white w3-card-4 w3-hover-blue w3-right hi-publish-btn" type="submit" name="post_status" 
                    value = "{{post.post_status == 'future' ? 'future' :'publish'}}"
                    >{{ post.post_status == 'future' ? '定时发布' : '立即发布'}}</button>

                </div>          
                
        </div>

    </div><!-- .hi-save-metabox-->


    </div><!-- h#i-metabox-wrapper-->
    {% include 'modal.twig' with {modal: {'id':'post-admin','footer':'部分字段填写不正确，请修正后重新提交','contents':''}} only%}
</form>

{% endblock %}