

    <div class="w3-padding-bottom hi-excerpt">

        <h1>
            
            
            <a class="title w3-hover-text-blue" href="{{ c.router.pathFor('post',{'name':post.post_name}) }}">{{ post.post_title }} </a>

            {% if post.post_visibility == 'private' or post.post_visibility == 'password' %}
            <code class="w3-small">{{ t.trans(post.post_visibility) }} 🔒</code>
            {% endif %}	
        </h1>

        <p class="w3-small hi-excerpt-text">
            {{post.post_content|striptags|truncate(180, false,"...\n")|raw }}            
        </p>

        <div class="w3-small w3-margin-right hi-meta">
            

                                            
            <span class="hi-date">	
                    
                {# <i class="w3-small fa fa-paperclip"></i>							 #}
                {% if post.post_status == 'publish' %}

                    {{post.post_date_local|time_diff}}
                {% elseif post.post_status == 'future'%}
                    {{post.post_date_local}} <code class="w3-text-red ">{{t.trans('Future status')}}</code>
                {% elseif post.post_status == 'draft' %}		
                    <code class="w3-text-blue ">{{ t.trans('Draft status')}}</code>
                {% endif %}

                
            </span>
                
            <a class="hi-dot hi-text-lighter-blue" target="_blank" href="{{ c.router.pathFor('user',{'uid':post.post_author}) }}">{{post.post_author_name}}</a>                            
                    
                
            {% if c.session.user.id == post.post_author %}	
                    
                <a class="hi-dot  hi-text-lighter-blue" href="{{ c.router.pathFor('post-admin.edit',{'name':post.post_name}) }}">
                    {{t.trans('Edit')}}</a>                                
            {% endif %}						
                
            <a class="hi-dot  hi-text-lighter-blue"  href="{{ c.router.pathFor('post',{'name':post.post_name}) }}">{{ t.trans('Read') }}</a>

        </div>
    </div>
