
    {%if tweetInfo is not defined  %}
    {% set tweetInfo = post.getPostMeta('tweet_info') %}          
    {% endif %} 
    <div class="w3-padding-bottom hi-excerpt">
       
        <div class="hi-tweet-header-wrap">
            <div class="portrait">
                {# <img src="{{tweetInfo.author.portrait | replace({'50x50':'200x200'}) | trim('http:','left')}}"> #}
                <img src="{{tweetInfo.author.portrait | imgMap(200,200) }}">
            </div>
                        
            <a class="tweet-author" href="{{ c.router.pathFor('user',{'username': get_username_by_id(post.post_author) }) }}">{{tweetInfo.author.name }}</a>
            <div class="tweet-pubdate">{{tweetInfo.pubDate|time_diff }}</div>

            
            <div class="tweet-mark ">
            <a href="{{c.router.pathFor('homepage.tweet')}}">
            
            {{ t.trans(post.post_type|capitalize) }}</a>
            </div>
            

        </div>

        <section class="hi-tweet-content-wrap">
            <div class="w3-large hi-tweet-content">
                {{post.post_content|raw|makeLinks|replaceTweetTopic(c.router.pathFor('search',{},{'searchPostType[0]':'tweet',kw:'#'})) }}
            </div>

            {% if tweetInfo.about %}
            <ul class="hi-comments hi-tweet-comments hi-tweet-ref">				
                    <li class="w3-code w3-padding tweet-about">
                        <div class="portrait"><i class="fa fa-bold fa-quote-left"></i></div>
                        <div class="comment-head">
                            <div class="comment-author"> @{{tweetInfo.about.title}}</div>                					
                            <div class="comment-content">{{tweetInfo.about.content|raw }}
                            
                            {% if tweetInfo.about.images is array  and (tweetInfo.about.images|first)%}
                                {%include 'post-type/tweet-gallery.twig' with {images:tweetInfo.about.images} only%}
                            {% endif %}
                            
                            </div>
                        </div>            
                    </li>

            </ul>                
            {% endif %}

            {% if tweetInfo.images is array %}
                {%include 'post-type/tweet-gallery.twig' with {images:tweetInfo.images} only%}
            {% endif %}

            {% if (tweetInfo.code) %}            
                <div class="hi-content w3-margin-bottom-0">
                    <span class="hi-tweet-code-title w3-pink w3-padding-small w3-round w3-small" style="text-shadow: black 0.1em 0.1em 0.2em;font-weight: 300;display: inline-block;margin-top: 4px !important;">
                        <i class="fa fa-code"></i> {{tweetInfo.code.brush}} {{t.trans('CodeSnippet')}}
                    </span>
                    <pre class="language-{{tweetInfo.code.brush}}"><code>{{tweetInfo.code.content}}</code></pre>
                </div>
            {% endif %}
        </section>

        <div class="w3-small w3-clear w3-margin-right hi-meta">

                          
            {% if r != 'post' %}
            <a target="_blank" href="{{ c.router.pathFor('post',{'name':post.post_name}) }}" class=" hi-text-lighter-blue hi-like-count">
            {{ t.transChoice('Like Count', tweetInfo.likeCount, {'%count%': tweetInfo.likeCount} )}}
            </a>
            <a target="_blank" href="{{ c.router.pathFor('post',{'name':post.post_name}) }}" class="hi-dot hi-text-lighter-blue hi-comment-count">
            {{ t.transChoice('Comment Count', tweetInfo.commentCount, {'%count%': tweetInfo.commentCount} )}}            
            </a>
            {% endif %}

            {% if r == 'post' %}
            <a target="_blank" href="{{tweetInfo.href}}" class=" hi-text-lighter-blue hi-href">{{t.trans('View in OSC')}}</a>
            {% endif %}

            {% if c.session.user.id == post.post_author %}	
                    
                <a class="hi-dot  hi-text-lighter-blue" href="{{ c.router.pathFor('post-admin.edit',{'name':post.post_name}) }}">
                    {{t.trans('Edit')}}</a>                                
            {% endif %}						
            {% if r !='post' %}
            <a  class="hi-dot  hi-text-lighter-blue"  href="{{ c.router.pathFor('post',{'name':post.post_name}) }}">{{ t.trans('View') }}</a>
            {% endif %}

        </div>
    </div>
