

    <div class="w3-padding-bottom hi-excerpt">
        {% if r !='post' %}
       <code class="w3-deep-orange">{{ t.trans(post.post_type|capitalize) }}</code>
       {% endif %}
        
        <span class="w3-large hi-tweet-content">
            {{post.post_content|raw }}
        </span>
        
        <!-- gallery -->
        {% set tweetInfo = post.getPostMeta('tweet_info') %}
        {# {{ dump(tweetInfo) }} #}
        


        {% if tweetInfo.images is array %}
        <div class="gallery-wrap w3-margin-top w3-margin-bottom">
            {% for image in tweetInfo.images %}
            <div class="responsive">
                <div class="gallery">
                    {# <a target="_blank" href="{{ image.href }}" title="{{ image.name }}"> #}
                    <img src="{{ image.thumb | trim('http:','left') }}" alt="{{ image.name }}" width="400" height="400" data-original="{{ image.href | trim('http:','left') }}" alt="{{ image.name }}">
                    {# </a> #}
                    {# <div class="desc">Add a description of the image here</div> #}
                </div>
            </div>
            {% endfor %}
            
            <div class="clearfix"></div>
        </div><!-- /.gallery-wrap -->
        {% endif %}
        <!--gallery end-->

        {% if (tweetInfo.code) %}            
            <div class="hi-content w3-margin-bottom-0">
                <span class="w3-text-blue hi-tweet-code-title" style="font-style: italic;font-weight: 400;">
                    <i class="fa fa-code"></i> {{tweetInfo.code.brush}} {{t.trans('CodeSnippet')}}
                </span>
                <pre class="language-{{tweetInfo.code.brush}}"><code>{{tweetInfo.code.content}}</code></pre>
            </div>
        {% endif %}

        
        <div class="w3-small w3-clear w3-margin-right hi-meta">

            <span class="hi-date">	
                    
                {# <i class="w3-small fa fa-paperclip"></i>							 #}
                {% if post.post_status == 'publish' %}

                    {{post.post_date_local|time_diff}}
                {% elseif post.post_status == 'future'%}
                    {{post.post_date_local}} <code class="w3-text-red">{{t.trans('Future status')}}</code>
                {% elseif post.post_status == 'draft' %}		
                    <code class="w3-text-blue">{{ t.trans('Draft status')}}</code>
                {% endif %}

                
            </span>
                
            <a class="hi-dot nickname" target="_blank" href="{{ c.router.pathFor('user',{'uid':post.post_author}) }}">{{post.post_author_name}}</a>                                               
            <a href="javascript:;" class="hi-dot hi-text-lighter-blue hi-like-count">
            {{ t.transChoice('Like Count', tweetInfo.likeCount, {'%count%': tweetInfo.likeCount} )}}
            </a>
            <a href="javascript:;" class="hi-dot hi-text-lighter-blue hi-comment-count">
            {{ t.transChoice('Comment Count', tweetInfo.commentCount, {'%count%': tweetInfo.commentCount} )}}            
            </a>
            {% if r == 'post' %}
            <a target="_blank" href="{{tweetInfo.href}}" class="hi-dot hi-text-lighter-blue hi-href">{{t.trans('View in OSC')}}</a>
            {% endif %}

            {% if c.session.user.id == post.post_author %}	
                    
                <a class="hi-dot  hi-text-lighter-blue" href="{{ c.router.pathFor('post-admin.edit',{'name':post.post_name}) }}">
                    {{t.trans('Edit')}}</a>                                
            {% endif %}						
            {% if r !='post' %}
            <a class="hi-dot  hi-text-lighter-blue"  href="{{ c.router.pathFor('post',{'name':post.post_name}) }}">{{ t.trans('View') }}</a>
            {% endif %}

        </div>
    </div>
