<div class="w3-row-padding">
    {% for collection in collections %}
        <a href="{{ c.router.pathFor('collection.detail',{'username':get_user_by_id(collection.author).username,'slug':collection.slug}) }}" class="w3-col l4  collection-item">
            <div class="w3-card-4 w3-round">
                <div class="collection-cover" style="background-image:url({{ trim_http(collection.media.origin_url) }})"></div>

                <div class="w3-container w3-padding">


                    <h5 class="w3-text-black">{{ collection.title }}

                    </h5>

                    <p class="hi-text-dark w3-opacity">{{ collection.description }}</p>

                    <small class="hi-text-dark w3-opacity w3-right">{{ collection.posts.count() }}
                        篇文章</small>

                </div>

            </div>
        </a>
    {% endfor %}
</div>


<div class=" w3-center w3-margin-top">
    {% include 'pagination-w3css.twig' with {data: collections} only %}
</div>
