{% extends 'layout.twig' %}

{% set title = 'Dashboard ' %}
{% block title %}
    {{ title }}
{% endblock %}

{% block content %}


    <h1>{{ title }}</h1>
    {% if pannel %}
        <div class="panel panel-{{ pannel.status }} ">
            <div class="panel-heading">{{ pannel.title }}</div>
            <div class="panel-body">{{ pannel.body }}</div>
        </div>
    {% endif %}

    {% include 'bind-oscer-form.twig' %}

{% endblock %}
