{% extends 'layout.twig' %}
{% set title = 'register '  %}
{% block title %}{{ title }}{% endblock %}

{% block content %}


<form action="register" method="post" autocomplete="off">
        {% if flash %}{{ flash }}{% endif %}
            
            <div class="form-group {% if errors.first('email') %}has-error{% endif %}">
                <label for="email">Email</label>
                <input class="form-control" type="text" name="email" id="email"{% if request.email|length %}value="{{ request.email }}"{% endif %}>
                {% if errors.first('email') %}{{ errors.first('email') }}{% endif %}
            </div>

            <div class="form-group {% if errors.first('username') %}has-error{% endif %}">

                <label for="username">Username</label>
                <input class="form-control" type="text" name="username" id="username"{% if request.username %}value="{{ request.username }}"{% endif %}>
                {% if errors.first('username') %}{{ errors.first('username') }}{% endif %}
            </div>
            <div class="form-group {% if errors.first('password') %}has-error{% endif %}">
                <label for="password">Password</label>
                <input class="form-control" type="password" name="password" id="password">
                {% if errors.first('password') %}{{ errors.first('password') }}{% endif %}
            </div>
            <div class="form-group {% if errors.first('password_confirm') %}has-error{% endif %}">
                <label for="password_confirm">Confirm Password</label>
                <input class="form-control" type="password" name="password_confirm" id="password_confirm">
                {% if errors.first('password_confirm') %}{{ errors.first('password_confirm') }}{% endif %}
            </div>
            <div>
                {{ csrf_inputs() }}
                <input type="submit" value="Register">
            </div>
        
    </form>
{% endblock %}    