<header class="w3-panel w3-center hi-text-dark" style="">
        <div class="w3-clear hi-toolkit">
        {% if currentPostType == 'collection' %}
            <a href="{{c.router.pathFor('collection-admin')}}" target="_blank" class="w3-button">
            <i class="fa fa-gear" aria-hidden="true"></i>
            {{t.trans('Manage Collections')}}</a>
        {% elseif currentPostType == 'post' %}    
            <a href="{{c.router.pathFor('post-admin')}}" target="_blank" class="w3-button">
            <i class="fa fa-gear" aria-hidden="true"></i>
            {{t.trans('Manage Posts')}}</a>
        {% endif %}
        </div>

        <h2 class="w3-margin-top-32">
        {{ spaceUser.username }}
        </h2>
        

        <div class="w3-padding-32 w3-opacity ">
            <div class="w3-bar w3-border">
                
                <a href="{{ c.router.pathFor('user',{'username': spaceUser.username}) }}" class="w3-bar-item w3-button {% if currentPostType is null %}w3-light-grey{% endif %}">{{ t.trans('Homepage') }}</a>

                {% for pt in allowPostTypes %}
                    <a href="{{ c.router.pathFor('user.postType',{'username': spaceUser.username,'postType':pt}) }}" class="w3-bar-item w3-button {% if currentPostType is sameas(pt) %}w3-light-grey{% endif %} ">{{ t.trans(pt|capitalize) }}</a>
                {% endfor %}

                {%if collections.count() %}
                    <a href="{{ c.router.pathFor('user.collections',{'username':spaceUser.username}) }}" class="w3-bar-item w3-button {% if currentPostType == 'collection' %}w3-light-grey{% endif %}">{{ t.trans('Collections') }}</a>
                {% endif %}

            </div>
        </div>

        
    </header>